{% extends "base.html" %}
{% block css_append %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tabulator/tabulator_site.min.css') }}" type="text/css" charset="utf-8">
{% endblock %}
{% block js_append %}
<script src="{{ url_for('static', filename='js/tabulator/tabulator.min.js') }}" charset="utf-8"></script>
<script src="{{ url_for('static', filename='js/month.js') }}" charset="utf-8"></script>
{% endblock %}
{% block content %}
{% include "./monthmenu.html" %}
<H1>Available Months</h1>

<div id='table'></div>

{% endblock %}

