{% extends "base.html" %}
{% block css_append %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tabulator/tabulator_site.min.css') }}" type="text/css" charset="utf-8">
<link rel="stylesheet" href="{{ url_for('static', filename='css/tagging.css') }}" type="text/css" charset="utf-8">
<style>
#autotag_button {
  float: right;
}
</style>
{% endblock %}
{% block js_append %}
<script src="{{ url_for('static', filename='js/tabulator/tabulator.min.js') }}" charset="utf-8"></script>
<script src="{{ url_for('static', filename='js/month.js') }}" charset="utf-8"></script>
<script src="{{ url_for('static', filename='js/moment.min.js') }}" charset="utf-8"></script>
{% endblock %}
{% block content %}
{% include "./monthmenu.html" %}
<H1>The index page</h1>
<form action="" method="post">
    <input id='start_date' type='text' class='datepicker' value='{{date}}'>
    <input type="submit" value="Submit">
    <input id='autotag_button' type="button" value="Auto Tag">
</form>

<input type='hidden' value='' id='transaction_id'>
<div id='tag_transaction' class='no_display'>
    Tagging transaction: (<span id='display_transaction_id'></span>)
    <input type='text' size='50' id='tags'>
    <input type='button' id='btn_tag_transaction' value='Tag'>
    <input type='button' id='btn_cancel_tag' value='Cancel'>
</div>
<div id='remove_tag' class='no_display'>
    <p> Remove tag for transaction <span id='transaction_id_remove_tag'></span> </p>
    <select name="tags_to_remove" id="tags_to_remove" size="5">
    </select>
    <input type='button' id='btn_cancel_remove' value='Cancel'>
</div>
<div id='table'></div>

{% endblock %}

